<section class="home overflow-hidden">
  <header class="w-100 pt-5 homeHeader">
    <div class="container pt-2">
      <div class="row parent" data-aos="fade-left">
        <div class="col-md-6">
          <h2 class="text-center fw-bolder text-capitalize">take <span>care</span> of your <span>health</span> now</h2>
          <p class=" my-4">Good health is the state of mental, physical and social well being and it does not just mean absence of diseases</p>
          <button class="btn my-5 bg-white px-5 py-2 rounded-pill fw-bolder" >Book an appointment<i class="fa-solid fa-arrow-right ms-2"></i></button>
          <p class="sign-up mt-3">Become member of our hospital community? <a href="#" routerLink = '/login' class="fw-bolder text-decoration-none text-black fs-6">sign up</a></p>
        </div>
      </div>
    </div>
  </header>
  <section class="pt-5 bg-light">
    <!-- Statistics Section -->
    <div class="row text-center mb-5 " data-aos="fade-up">
      <div class="col-md-3">
        <div class="stats-number">90</div>
        <div class="stats-title">Best Doctor</div>
      </div>
      <div class="col-md-3">
        <div class="stats-number">1500</div>
        <div class="stats-title">Patient Capacity</div>
      </div>
      <div class="col-md-3">
        <div class="stats-number">24</div>
        <div class="stats-title">Hours Availability</div>
      </div>
      <div class="col-md-3">
        <div class="stats-number">15</div>
        <div class="stats-title">Clinic Location</div>
      </div>
    </div>
    <!-- Search Section -->
    <div class="search-container w-75 mx-auto bg-white">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="row g-3">
            <div class="col-md-4">
              <select class="form-select date-select">
                <option>Select Date & Time</option>
                <option>Morning (9 AM - 12 PM)</option>
                <option>Afternoon (1 PM - 5 PM)</option>
                <option>Evening (6 PM - 9 PM)</option>
              </select>
            </div>
            <div class="col-md-5">
              <input
                type="text"
                class="form-control search-input"
                placeholder="Search doc,name,specialist"
              />
            </div>
            <div class="col-md-3">
              <button class="btn search-button text-white w-100">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="me-2">
                  <circle cx="11" cy="11" r="8"></circle>
                  <path d="m21 21-4.3-4.3"></path>
                </svg>
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- How it works section-->
  <section class="py-5 howWorks" data-aos="fade-up">
    <div class="container">
      <div class="row">
        <h2 class="text-center fw-bolder text-capitalize" >
          How it works!
        </h2>
        <p class="text-center py-3 w-75 mx-auto">
          Discover, book, and experience personalized healthcare effortlessly with our user-friendly Doctor Appointment website
        </p><div class="row text-center">
          <div class="col-md-4"data-aos="fade-up">
            <div class="service-step">
              <div class="step-number">1</div>
              <div class="icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M3 9a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9Z"></path>
                  <path d="M12 3v6"></path>
                  <path d="M8 7V3"></path>
                  <path d="M16 7V3"></path>
                </svg>
              </div>
              <h3 class="service-title">Find A Doctor</h3>
              <p class="service-description">Discover skilled doctors based on specialization and location</p>
            </div>
          </div>
          <div class="col-md-4" data-aos="fade-up">
            <div class="service-step">
              <div class="step-number">2</div>
              <div class="icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <rect width="18" height="18" x="3" y="4" rx="2" ry="2"></rect>
                  <line x1="16" x2="16" y1="2" y2="6"></line>
                  <line x1="8" x2="8" y1="2" y2="6"></line>
                  <line x1="3" x2="21" y1="10" y2="10"></line>
                </svg>
              </div>
              <h3 class="service-title">Book Appointment</h3>
              <p class="service-description">Effortlessly book appointments at your convenience</p>
            </div>
          </div>
          <div class="col-md-4" data-aos="fade-up">
            <div class="service-step">
              <div class="step-number">3</div>
              <div class="icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path>
                </svg>
              </div>
              <h3 class="service-title">Get Services</h3>
              <p class="service-description">Receive personalized healthcare services tailored to your needs</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Contact your doctor section -->
  <section class="contactDoctor py-5" data-aos="fade-up">
    <div class="container">
      <div class="row d-flex justify-content-center flex-column align-items-center">
        <h2 class="text-center fw-bolder text-capitalize" >
          Contact Your Doctor Privately
        </h2>
        <button title="button for contact doctor" class="btn contact-button text-white w-auto mt-5">
          Contact Doctor
        </button>
      </div>
    </div>
  </section>

  <!-- Vedeio section -->
   <section class="vedeioSection py-5 bg-light"data-aos="fade-up">
      <div class="container">
        <div class="row d-flex flex-column justify-content-center align-items-center">
          <h3 class="text-black text-center fs-4 fw-bold">Watch video to learn why he is the right doctor for you.</h3>
          <div class="vedeioContainer mt-5 d-flex justify-content-center">
            <iframe width="860" height="415" src="https://www.youtube.com/embed/ae05k9e_zFc?si=plrvd2FC4bhL5IQb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
    </div>
   </section>

   <!-- Carts section -->
    <section class="cartsSection">
      <div class="container py-5">
        <h2 class="text-center main-title mb-5" data-aos="fade-up">Ask doctors about most health conditions without having to leave home</h2>

        <div class="row g-4">
          <div class="col-md-6">
            <div class="specialty-card" data-aos="fade-right">
              <div class="specialty-image">
                <img src="./images/1.jpg" alt="Gynecological consultation" class="img-fluid rounded">
              </div>
              <h3 class="specialty-title">Gynecological diseases</h3>
              <ul class="specialty-list">
                <li><span class="bullet"></span>Bacterial vaginosis</li>
                <li><span class="bullet"></span>Fungi during pregnancy</li>
                <li><span class="bullet"></span>Methods of contraception</li>
                <li><span class="bullet"></span>Cystitis</li>
                <li><span class="bullet"></span>Irregular menstruation</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6">
            <div class="specialty-card" data-aos="fade-left">
              <div class="specialty-image">
                <img src="./images/2.jpg" alt="Children's healthcare" class="img-fluid rounded">
              </div>
              <h3 class="specialty-title">Children's diseases</h3>
              <ul class="specialty-list">
                <li><span class="bullet"></span>Diarrhea</li>
                <li><span class="bullet"></span>Urinary tract infection</li>
                <li><span class="bullet"></span>Constipation</li>
                <li><span class="bullet"></span>Stomach bacteria</li>
                <li><span class="bullet"></span>Tension headache</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6">
            <div class="specialty-card" data-aos="fade-right">
              <div class="specialty-image">
                <img src="./images/3.jpg" alt="Gynecological consultation" class="img-fluid rounded">
              </div>
              <h3 class="specialty-title">Diseases of the nose, ear and throat</h3>
              <ul class="specialty-list">
                <li><span class="bullet"></span>Sinusitis</li>
                <li><span class="bullet"></span>Cough</li>
                <li><span class="bullet"></span>Otitis</li>
                <li><span class="bullet"></span>Sore throat</li>
                <li><span class="bullet"></span>Allergies</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6">
            <div class="specialty-card" data-aos="fade-left">
              <div class="specialty-image">
                <img src="./images/4.jpg" alt="Skin diseases" class="img-fluid rounded">
              </div>
              <h3 class="specialty-title">Skin diseases</h3>
              <ul class="specialty-list">
                <li><span class="bullet"></span>Dermatitis</li>
                <li><span class="bullet"></span>Psoriasis</li>
                <li><span class="bullet"></span>Young love</li>
                <li><span class="bullet"></span>Hair loss</li>
                <li><span class="bullet"></span>Eczema</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Slider section -->
     <section class="slider" data-aos="fade-up">
      <section class="testimonial-section">
        <div class="container py-5">
          <h2 class="text-center fw-bold">User Reviews</h2>
          <p class="text-center text-muted px-md-5">
            Experiences and opinions of Altibbi users about telehealth services. Learn about their success stories and satisfaction with the Altibbi application.
            We always strive to provide distinguished services that meet your needs efficiently and effectively.
          </p>
          <div class="row justify-content-center">
            <div class="col-md-10">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                  <div class="card review-card border-0 p-3">
                    <div class="card-body bg-light rounded-2">
                      <p class="review-text">"I was hesitant to share my personal information, but after trying the service and communicating with the doctor."</p>
                      <div class="reviewer-info">
                        <div class="d-flex align-items-center justify-content-between">
                          <img src="./images/11.jpg" class="reviewer-img rounded-circle w-25" alt="E.E">
                          <div>
                            <h5 class="reviewer-name">E.E</h5>
                            <div class="text-warning">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>

                <ng-template carouselSlide>
                  <div class="card review-card border-0 p-3">
                    <div class="card-body bg-light rounded-2">
                      <p class="review-text">It made it easy for me to have regular follow-ups with the doctor after doing tests or taking prescribed medications.</p>
                      <div class="reviewer-info">
                        <div class="d-flex align-items-center justify-content-between">
                          <img src="./images/22.jpg" class="reviewer-img rounded-circle w-25" alt="E.E">
                          <div>
                            <h5 class="reviewer-name">E.E</h5>
                            <div class="text-warning">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>

                <ng-template carouselSlide>
                  <div class="card review-card border-0 p-3">
                    <div class="card-body bg-light rounded-2">
                      <p class="review-text">Thank you! The treatment experience is easier with doctor recommendations and accurate, high-quality answers.</p>
                      <div class="reviewer-info">
                        <div class="d-flex align-items-center justify-content-between">
                          <img src="./images/33.jpg" class="reviewer-img rounded-circle w-25" alt="E.E">
                          <div>
                            <h5 class="reviewer-name">E.E</h5>
                            <div class="text-warning">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>

                <ng-template carouselSlide>
                  <div class="card review-card border-0 p-3">
                    <div class="card-body bg-light rounded-2">
                      <p class="review-text">I was hesitant to share my personal information, but after trying the service and communicating with the doctor.</p>
                      <div class="reviewer-info">
                        <div class="d-flex align-items-center justify-content-between">
                          <img src="./images/11.jpg" class="reviewer-img rounded-circle w-25" alt="E.E">
                          <div>
                            <h5 class="reviewer-name">E.E</h5>
                            <div class="text-warning">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>

                <ng-template carouselSlide>
                  <div class="card review-card border-0 p-3">
                    <div class="card-body bg-light rounded-2">
                      <p class="review-text">It made it easy for me to have regular follow-ups with the doctor after doing tests or taking prescribed medications.</p>
                      <div class="reviewer-info">
                        <div class="d-flex align-items-center justify-content-between">
                          <img src="./images/22.jpg" class="reviewer-img rounded-circle w-25" alt="E.E">
                          <div>
                            <h5 class="reviewer-name">E.E</h5>
                            <div class="text-warning">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>

                <ng-template carouselSlide>
                  <div class="card review-card border-0 p-3">
                    <div class="card-body bg-light rounded-2">
                      <p class="review-text">Thank you! The treatment experience is easier with doctor recommendations and accurate, high-quality answers.</p>
                      <div class="reviewer-info">
                        <div class="d-flex align-items-center justify-content-between">
                          <img src="./images/33.jpg" class="reviewer-img rounded-circle w-25" alt="E.E">
                          <div>
                            <h5 class="reviewer-name">E.E</h5>
                            <div class="text-warning">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>

              </owl-carousel-o>
            </div>
          </div>
        </div>
      </section>


     </section>

</section>

<div class="p-3">
  <p class="text-primary">mooooo</p>
</div>
