<footer class="footer py-5 bg-light  ">
  <div class="container">
    <div class="row gy-4 d-flex justify-content-center align-items-start">
      <!-- Quick Links -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-6 d-flex justify-content-center flex-column" >
        <h3 class="h5 mb-4">Quick Links</h3>
        <ul class="list-unstyled ms-2">
          <li><a href="#" class="text-decoration-none text-black"><i class="fas fa-angle-right me-2"></i>Home</a></li>
          <li><a href="#" class="text-decoration-none text-black"><i class="fas fa-angle-right me-2"></i>Services</a></li>
          <li><a href="#" class="text-decoration-none text-black"><i class="fas fa-angle-right me-2"></i>About</a></li>
          <li><a href="#" class="text-decoration-none text-black"><i class="fas fa-angle-right me-2"></i>Doctors</a></li>
          <li><a href="#" class="text-decoration-none text-black"><i class="fas fa-angle-right me-2"></i>Book</a></li>
          <li><a href="#" class="text-decoration-none text-black"><i class="fas fa-angle-right me-2"></i>Review</a></li>
          <li><a href="#" class="text-decoration-none text-black"><i class="fas fa-angle-right me-2"></i>Blogs</a></li>
        </ul>
      </div>

      <!-- Our Services -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-6 d-flex justify-content-center flex-column">
        <h3 class="h5 mb-4">Our Services</h3>
        <ul class="list-unstyled ms-2">
          <li><a href="#" class="text-decoration-none text-black"><i class="fas fa-angle-right me-2"></i>Dental Care</a></li>
          <li><a href="#" class="text-decoration-none text-black"><i class="fas fa-angle-right me-2"></i>Message Therapy</a></li>
          <li><a href="#" class="text-decoration-none text-black"><i class="fas fa-angle-right me-2"></i>Cardiology</a></li>
          <li><a href="#" class="text-decoration-none text-black"><i class="fas fa-angle-right me-2"></i>Diagnosis</a></li>
          <li><a href="#" class="text-decoration-none text-black"><i class="fas fa-angle-right me-2"></i>Ambulance Service</a></li>
        </ul>
      </div>

      <!-- Contact Info -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-6 d-flex justify-content-center flex-column">
        <h3 class="h5 mb-4">Contact Info</h3>
        <ul class="list-unstyled ms-2 contact-info">
          <li class="d-flex align-items-center mb-3">
            <i class="fas fa-phone-alt me-2"></i>
            <a href="tel:+123-456-7890" class="text-decoration-none text-black">+123-456-7890</a>
          </li>
          <li class="d-flex align-items-center mb-3">
            <i class="fas fa-phone-alt me-2"></i>
            <a href="tel:+111-222-3333" class="text-decoration-none text-black">+111-222-3333</a>
          </li>
          <li class="d-flex align-items-center mb-3">
            <i class="fa-regular fa-envelope me-2"></i>
            <a href="mailto:Alibaby@Gmail.Com" class="text-decoration-none text-black">Alibabygmail.Com</a>
          </li>
          <li class="d-flex align-items-center mb-3">
            <i class="fa-regular fa-envelope me-2"></i>
            <a href="mailto:Anasbahy@Gmai.com" class="text-decoration-none text-black">Anasbahygmail.com</a>
          </li>
          <li class="d-flex align-items-center">
            <i class="fas fa-map-marker-alt me-2"></i>
            <span class="text-black">Mumbai, India</span>
          </li>
        </ul>
      </div>

      <!-- Follow Us -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-6 d-flex justify-content-center flex-column">
        <h3 class="h5 mb-4">Follow Us</h3>
        <ul class="list-unstyled ms-2 social-links">
          <li class="mb-3">
            <a href="#" class="text-decoration-none text-black d-flex align-items-center">
              <i class="fab fa-facebook-f me-2"></i>
              Facebook
            </a>
          </li>
          <li class="mb-3">
            <a href="#" class="text-decoration-none text-black d-flex align-items-center">
              <i class="fab fa-twitter me-2"></i>
              Twitter
            </a>
          </li>
          <li class="mb-3">
            <a href="#" class="text-decoration-none text-black d-flex align-items-center">
              <i class="fab fa-instagram me-2"></i>
              Instagram
            </a>
          </li>
          <li class="mb-3">
            <a href="#" class="text-decoration-none text-black d-flex align-items-center">
              <i class="fab fa-linkedin-in me-2"></i>
              LinkedIn
            </a>
          </li>
          <li>
            <a href="#" class="text-decoration-none text-black d-flex align-items-center">
              <i class="fab fa-pinterest-p me-2"></i>
              Pinterest
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
