<section id="Appointment" class=" mb-5 h-100">
    <div class="AppointmentImg">
        <div class="p-5">
            <h5 class="fw-bold text-black ps-5">  Appointment</h5>
            <p class="text-black fw-bold ps-5">Home/ <span class="text-muted fw-normal "> Appointment</span> </p>
        </div>
    </div>
<div class="container ">
    <div class="row">

       
            <div class="col-md-5 rounded-5 justify-content-between align-items-center Appoimentimg2   mt-2  ">
                
            </div>
            <div class="col-md-6 m-5 p-5   h-100 sec2Appointment rounded-4">
                <h5 class="fw-bold text-black">Book An Appointment :</h5>
                
                <div class="mb-2 ">
                     <input type="text" class="form-control text-muted h-25 inputColor " id="exampleFormControlInput1" placeholder="Your Name">
                  </div>
                <div class="mb-2 ">
                     <input type="text" class="form-control text-muted h-25 inputColor " id="exampleFormControlInput1" placeholder="Your Name">
                  </div>

                  <select formControlName="doctor "  class="inputColor text-muted w-100">
                    <option   selected>DR.Muhamed</option>
                    <option   selected>DR.Ahmed</option>
                    <option   selected>DR.Khaled</option>
                    <option   selected>DR.Yousef</option>
                    <option  disabled selected>Choose Doctor</option>
                   
                   </select>
                  <select formControlName="doctor "  class="inputColor text-muted w-100">
                    <option   selected>5/5/2025</option>
                    <option   selected>6/5/2025</option>
                    <option   selected>7/5/2025</option>
                    <option   selected>8/5/2025</option>
                    <option  disabled selected>Choose Date</option>
                   
                   </select>
                  <select formControlName="doctor "  class="inputColor text-muted w-100">
                    <option   selected>5</option>
                    <option   selected>6</option>
                    <option   selected>7</option>
                    <option   selected>8</option>
                    <option  disabled selected>Choose Time</option>
                   
                   </select>
                
                  <textarea formControlName="message" class="inputColor w-100" placeholder="Your Message"></textarea>
                  <h5 class="fw-bold text-black">Payment Information :</h5>

                  <div class="mb-2 ">
                    <input type="text" class="form-control text-muted h-25 inputColor " id="exampleFormControlInput1" placeholder="Your Name">
                 </div>
                  <div class="mb-2 ">
                    <label for=" Card Number " class="text-white fw-bold"> Card Number</label>
                    <input type="text" class="form-control  text-muted h-25 inputColor " id="exampleFormControlInput1" placeholder="xxxx-xxxx-xxxx-xxxx-">
                 </div>

                  <button  >Book Appointment</button>
         
            </div>
         
     </div>
</div>
</section>
  
