<nav class="navbar navbar-expand-lg px-5 position-sticky navcolor top-0 end-0 start-0">
  <div class="container-fluid">
     <!-- Logo  -->
    <a class="navbar-brand d-flex align-items-center navIcon  "  routerLink="/home">
      </a>

    <!-- Navbar Toggler  -->
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon border-0 fs-6"></span>
    </button>

    <!-- Navbar Links  -->
    <div class="collapse navbar-collapse " id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-3 NavLinkColor">
          <a class="nav-link  rounded-4   " routerLink="Medicines"  routerLinkActive="bg-white activeLink">Medicines</a>
        </li>
        <li class="nav-item mx-2 NavLinkColor">
          <a class="nav-link rounded-4 " routerLink="Research" routerLinkActive="bg-white activeLink">Research</a>
        </li>
        <li class="nav-item mx-2 NavLinkColor">
          <a class="nav-link rounded-4 " routerLink="Commitment" routerLinkActive="bg-white activeLink">Commitment</a>
        </li>
        <li class="nav-item mx-2 NavLinkColor">
          <a class="nav-link rounded-4 " routerLink="Careers" routerLinkActive="bg-white activeLink">Careers</a>
        </li>
        <li class="nav-item mx-2 NavLinkColor">
          <a class="nav-link rounded-4 " routerLink="Contact_Us" routerLinkActive="bg-white activeLink">Contact_Us</a>
        </li>
        
 


      </ul>
       <!-- Search Bar -->
      <div class="d-flex align-items-center w-100 justify-content-end">
        <div class="search-container position-relative">
          <input type="text" class="form-control search-input" placeholder="Search..." />
          <i class="fa fa-search search-icon"></i>
        </div>
      </div>
      
    </div>
  </div>
</nav> 
 




 